#canvas {
    border: 2px solid;
    display: block;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.btn { 	
    display: inline;
 }

#btn1 {
    margin :  0 0 0 1em;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    background: #00aaff;
    /*box-shadow: 0 4px 0 #0088cc;*/
	text-align: center;
    color: white;
	font-weight: bold;
    cursor: pointer;
    border-color: black;
    border-style: solid;
}

#btn2 {
    margin :  0 0 0 1em;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    background: #00aaff;
    /*box-shadow: 0 4px 0 #0088cc;*/
	text-align: center;
    color: white;
	font-weight: bold;
    cursor: pointer;
    border-color: black;
    border-style: solid;
}