#canvas {
    border: 2px solid;
    display: block;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.btn { 	
    display: inline;
 }

#btn1 {
    margin :  0 0 0 1em;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    background: #00aaff;
    /*box-shadow: 0 4px 0 #0088cc;*/
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-color: black;
    border-style: solid;
}

#btn2 {
    margin :  0 0 0 1em;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    background: #00aaff;
    /*box-shadow: 0 4px 0 #0088cc;*/
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-color: black;
    border-style: solid;
}

li {
    padding-bottom: 10px;
    list-style: none;
}

.main {
	float: left;
	position: relative;
	top: 50px;
	left: 50px;
}

.column {
	float: right;
	position: relative;
	top: 50px;
    /*left: -750px;*/
}

.table1 {
    position: relative;
    left: -750px
}

.table2 {
    position: relative;
    left: -450px
}

.table3 {
    position: relative;
    left: -150px
}

.table4 {
    position: relative;
    left: 150px
}

.is-selected {
	background-color: #a9a9a9;
}

td {
    width: 65px;
    text-align: center;
}
